.questions {
  z-index: 1000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 6rem;

  &__question {
    width: 20%;
    min-width: 20rem;
    padding: 2rem 5rem;
    // outline: 1px solid $color-primary-dark;
    // outline-offset: 1rem;
    background-color: rgba($color-grey-light-3, 0.5);
    border-radius: 3px;
    color: $color-grey-medium;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.5rem 0.5rem 1rem rgba($color-black, 0.2);
  }
}
