.paragraph {
  font-size: 1.6rem;
  -moz-column-count: 2;
  column-count: 2;
  -moz-column-gap: 4rem;
  column-gap: 4rem;
  -moz-column-rule: 1px solid $color-grey-light-2;
  column-rule: 1px solid $color-grey-light-3;

  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
