.section-questions {
  background-color: $color-grey-light-1;
  padding: 30rem 2rem 25rem;
  margin-top: -20vh;
  position: relative;
  z-index: -1;
  @media (max-width: 1200px) {
    padding-top: 20rem;
  }
}

.questions-container {
  justify-content: flex-start;
  text-align: center;

  &__icon {
    position: absolute;
    transform: translateY(-50%);
    font-size: 60rem;
    color: $color-grey-light-3;
    font-family: serif;
    font-weight: 900;
    margin-top: 5rem;
    text-shadow: 0 5px 5px rgba($color-primary-dark, 0.5);

    &--big {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.5;
      @media (max-width: 2830px) {
      }
    }
    &--left {
      top: 50%;
      left: 10%;
      opacity: 0.3;
      font-size: 40rem;
      @media (max-width: 750px) {
        display: none;
      }
    }
    &--right {
      top: 50%;
      left: 70%;
      opacity: 0.3;
      font-size: 40rem;
      @media (max-width: 750px) {
        display: none;
      }
    }
  }
}
.section-solution {
  background-color: #111d30;
  padding: 10rem 2rem 20rem;
  transform: skewY(-4deg);
  position: relative;
  z-index: 1000;
  color: $color-grey-light-2;
  margin-top: -8rem;

  &__content {
    transform: skewY(4deg);
  }
}

.section-features {
  padding: 22rem 2rem 12rem;
  // background-image: linear-gradient(
  //     to right bottom,
  //     rgba($color-primary-light, 0.8),
  //     rgba($color-primary-dark, 0.9)
  //   ),
  //   url("../img/torah.jpeg");
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.9) 60%
  );
  background-size: cover;
  background-position: bottom;
  transform: skewY(-4deg);
  margin-top: -10rem;

  & > * {
    transform: skewY(4deg);
  }
}

// .section-tours {
//   background-color: $color-grey-light-1;
//   padding: 25rem 0 15rem 0;
//   margin-top: -10rem;
// }

.section-stories {
  padding: 15rem 0;
  position: relative;
  margin-top: -5rem;
}

.section-contact {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
}

.contact {
  background: linear-gradient(
      105deg,
      rgba($color-white, 0.8) 50%,
      transparent 50%
    ),
    url("../img/journey.jpeg") center/cover no-repeat;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
  width: 90%;
  margin: auto;
  @media (max-width: 750px) {
    background: linear-gradient(
        105deg,
        rgba($color-white, 0.8) 60%,
        transparent 60%
      ),
      url("../img/journey.jpeg") center/cover no-repeat;
  }
  @media (max-width: 600px) {
    background-image: url("../img/journey.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.9);
    text-align: center;
  }

  &__heading {
    font-size: 3rem;
    @media (max-width: 600px) {
      font-size: 2.4rem;
      text-align: center;
    }
  }

  &__info {
    width: 50%;
    height: 85%;
    padding: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 3rem;
    @media (max-width: 1000px) {
      width: 65%;
    }
    @media (max-width: 600px) {
      padding: 2rem;
      width: 100%;
    }
  }

  &__item {
    min-width: 100%;
  }

  &__icon {
    margin-left: 2rem;
    font-size: 1.8rem;
    color: $color-primary-dark;
  }
}
